:root{
    --mainColor:#8b3f44;
    --secondaryColor:#610D0E;

    --borderColor:#c1c1c1;

    --mainText:#fff;
    --secondaryText:#eeeeee;

    --themeDotBorder:#fff;

    --previewBg:rgb(25,39,52,0.8);
    --previewShadow:#0B541F;

    --buttonColor:#0B541F;

}

.personalize{
    color:#fff;
}
