:root{
    --mainColor:#008AD8;
    --secondaryColor:#003959;

    --borderColor:#161914;

    --mainText:#fff;
    --secondaryText:#eeeeee;

    --themeDotBorder:#fff;

    --previewBg:rgb(25,39,52,0.8);
    --previewShadow:#00598C;

    --buttonColor:#D97C00;

}

a{
    text-decoration:none;
    color:#fff;
}

.post_title{
    color:#fff;
    margin:0;
}

.post_intro{
    color:#fff;
    font-size:14px;
}